<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PagSeguro.Payment" value="https://ws.pagseguro.uol.com.br/v2/checkout" />
    <add key="PagSeguro.PaymentRedirect" value="https://pagseguro.uol.com.br/v2/checkout/payment.html"/>
    <add key="PagSeguro.Notification" value="https://ws.pagseguro.uol.com.br/v2/transactions/notifications"/>
    <add key="PagSeguro.Search" value="https://ws.pagseguro.uol.com.br/v2/transactions"/>
    <add key="PagSeguro.PreApproval" value="https://ws.pagseguro.uol.com.br/v2/pre-approvals/request"/>
    <add key="PagSeguro.PreApprovalRedirect" value="https://pagseguro.uol.com.br/v2/pre-approvals/request.html"/>
    <add key="PagSeguro.PreApprovalNotification" value="https://ws.pagseguro.uol.com.br/v2/pre-approvals/notifications"/>
    <add key="PagSeguro.PreApprovalSearch" value="https://ws.pagseguro.uol.com.br/v2/pre-approvals"/>
    <add key="PagSeguro.PreApprovalCancel" value="https://ws.pagseguro.uol.com.br/v2/pre-approvals/cancel"/>
    <add key="PagSeguro.PreApprovalPayment" value="https://ws.pagseguro.uol.com.br/v2/pre-approvals/payment"/>
    <add key="PagSeguro.Email" value="backoffice@lojamodelo.com.br"/>
    <add key="PagSeguro.Token" value="2507D8278A9D478D94327BABDDC2A573"/>
    <add key="PagSeguro.Sandbox.Email" value="joel.r.mz@gmail.com"/>
    <add key="PagSeguro.Sandbox.Token" value="71BBED7C08C64599B9F6D641D4CBA644"/>
    <add key="PagSeguro.LibVersion" value="2.1.1"/>
    <add key="PagSeguro.FormUrlEncoded" value="application/x-www-form-urlencoded"/>
    <add key="PagSeguro.Encoding" value="ISO-8859-1"/>
    <add key="PagSeguro.RequestTimeout" value="10000"/>
  </appSettings>
</configuration>